INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/
.project
.settings/
src/data/logs/application.log
src/public/dummy.php
.buildpath
src/library/Zend
src/public/uploads/images/*
doctrine
src/public/test.php
argentinacompartetag.mwb.bak

